# Take a look at https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/defining-the-voice-interface
cloneJob clone {id} from {src}
cloneJob clone number {id} from {src}
cloneJob clone job {id} from {src}
cloneJob clone job number {id} from {src}
restartJob restart {id}
restartJob restart job {id}
restartJob restart job number {id}
restartJob restart number {id}
cancelJob cancel {id}
cancelJob cancel job {id}
cancelJob cancel number {id}
cancelJob cancel job number {id}
deleteJob delete {id}
deleteJob delete job {id}
deleteJob delete number {id}
deleteJob delete job number {id}
buildReport give me a report
buildReport give me the last build report
addComment add comment to job {id} from {src} {text}
addComment add comment to job {id} from {src} with following content: {text}
addComment add comment to job number {id} from {src} {text}
addComment add comment to job number {id} from {src} with following content: {text}
addComment add comment to {src} job {id} {text}
addComment add comment to {src} job number {id} {text}
addComment add comment to {src} job number {id} with following content: {text}
